body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    color: black;
    width: 350px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #5a67d8;
}

/* RESULT BOX */
.result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

/* SUCCESS (Placed) */
.success {
    background-color: #d4edda;
    color: #155724;
}

/* FAIL (Not Placed) */
.fail {
    background-color: #f8d7da;
    color: #721c24;
}

/* SUGGESTION TEXT */
.suggestion {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}